$textColor: rgb(0, 220, 0);
$bgc: rgb(128, 25, 25);

body{
    background-color: $bgc;

    h1{
        color: $textColor;
        display: flex;
        justify-content: center;
    }
}

#main{
    width: 100%;
    background-color: blue;
}
