@import "./variables";
@import "./functions";

body {

    @include color;
}

.test {
    @include font_medium;
}

header{
    @include font_large;
}

.text{
    @include font_small;
}

#testc{
    height: $super_large;
    width: 100%;
    color: lightgreen;
}
