@import "./_functions";
@import "./variables";

*{
    margin: 0;
}

header{
    @include header
}

#backdrop{
    height: 50px;
    width: 100%;
    background-color: $darkBleen;
    margin-bottom: 20px;
}

body{
    background-color: $notQuiteBlack;
}

#main{
    @include main
}

a{
    color: black;
    text-decoration: none;
}

footer{
    @include footer
}

.Keyboard{
    img{
        border: 2px solid $notQuiteWhite;
        width: 20%;
        height: 20%;
    }
}

.Mouse{
    img{
        border: 2px solid $notQuiteWhite;
        width: 20%;
        height: 20%;
    }
}

.form{
    margin-top: 30px;
    color: $notQuiteWhite;
}