<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pogccessories.com</title>
    <link rel="stylesheet" href="Master.css">
</head>

<body>
    <!-- "Collapsors" are just there to make my managment easier by segmenting better what belongs where -->
    <div class="header-collapsor">
        <header>
            <a href="index.html">
                <h1>Pogccessories.com</h1>
            </a>
            <div class="hBox"><a href="index">Home</a></div>
            <div class="hBox"><a href="mice">Mice</a></div>
            <div class="hBox"><a href="keyboards">Keyboards</a></div>
            <div class="hBox"><a href="about">About</a></div>
            <div class="hBox"><a href="contact">Contact</a></div>
        </header>
        <div id="backdrop"></div>
    </div>

    <div id="main">
        <h1>you fool. you absolute baffoon. You think you can challenge me in my own realm? you think you can rebel
            against my authority? you dare come into my house and upturn my dining chairs and spill coffee grounds in my
            Keurig? you thought you were safe in your chain mail armor behind that screen of yours. I will take these
            laminate wood floor boards and destroy you. i didnt want war. but i didnt start it</h1>
    </div>

    <div class="footer-collapsor">
        <footer>
            <h4><br>© 2021 David Utbult All Rights Reserved</h4>
        </footer>
    </div>
</body>

</html>