<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pogccessories.com</title>
    <link rel="stylesheet" href="master.css">
</head>

<body>
    <!-- "Collapsors" are just there to make my managment easier by segmenting better what belongs where -->
    <div class="header-collapsor">
        <header>
            <a href="index.html">
                <h1>Pogccessories.com</h1>
            </a>
            <div class="hBox"><a href="index">Home</a></div>
            <div class="hBox"><a href="mice">Mice</a></div>
            <div class="hBox"><a href="keyboards">Keyboards</a></div>
            <div class="hBox"><a href="about">About</a></div>
            <div class="hBox"><a href="contact">Contact</a></div>
        </header>
        <div id="backdrop"></div>
    </div>

    <div id="main">
        <h3>Welcome to Pogccessories.com!</h3>

        <p><br>
            We are a website dedicated to selling you the best gaming gear possible. <br>
            Complete with reviews and instant shipping we aim to provide the best service possible for our customers</p>
    </div>

    <!-- Stores messages properly but does not show them and i don't know how to make it do so -->
    <div class="form">
        <form action="/" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email">
            <br>
            <label for="message">Message</label>
            <input type="message" name="message">
             <button type="submit">Submit</button>
      </form>
    </div>            
        
    </div>

    <div class="footer-collapsor">
        <footer>
            <h4><br>© 2021 David Utbult All Rights Reserved</h4>
        </footer>
    </div>
</body>

</html>