<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pogccessories.com</title>
    <link rel="stylesheet" href="Master.css">
</head>
<body>
    <!-- "Collapsors" are just there to make my managment easier by segmenting better what belongs where -->
    <div class="header-collapsor">
        <header>
            <a href="index.html">
                <h1>Pogccessories.com</h1>
            </a>
            <div class="hBox"><a href="index">Home</a></div>
            <div class="hBox"><a href="mice">Mice</a></div>
            <div class="hBox"><a href="keyboards">Keyboards</a></div>
            <div class="hBox"><a href="about">About</a></div>
            <div class="hBox"><a href="contact">Contact</a></div>
        </header>
        <div id="backdrop"></div>
    </div>

    <div id="main">
        <div class="Keyboard">
            <a href="keeb1">
                <h3>Corsair Strafe RGB<br></h6>
                <img src="Files/Strafe-RGB.png">
            </a>
        </div>
        <div class="Keyboard">
            <a href="keeb2">
                <h3><br>The other keyboard<br></h3>
                <img src="Files/Keeb2.png">
            </a>
        </div>
        </div>

    <div class="footer-collapsor">
        <footer>
            <h4><br>© 2021 David Utbult All Rights Reserved</h4>
        </footer>
    </div>
</body>
</html>