@import "./variables";

//Background Color
@mixin bgc{
    background-color: $bgc;
}

//Header used in every page
@mixin header {
    height: 100px;
    width: 100%;

    .hBox{
        font-size: 40px;
        text-align: center;
        display: block;
        width: 10%;
        margin-left: 10px;
        height: 50px;
        float: left;
        border: 4px solid black;
    }
}
