@import "./variables";
@import "./functions";

/* Comments about the Javascript:
    Javascript is used for the same purpose on both 'skins' and 'abilities' where it changes the picture/video when an image is clicked.
    The video on 'abilities' doesn't work however and i don't know why.
*/

//Uses the header mixin
header{
    @include header
}

//Background color
body{
    @include bgc;
}

//Keeping the text to the left side of the page and making it readable
#lore{
    width: 45%;
    background-color: rgb(180, 215, 255);
    
    p{
        margin: 10px;
    }
}

//not used anywhere, will remove
#skinNames{
    
    p{
        float: left;
        position: relative;
        margin-right: 150px;
        margin-top: 5px;
        margin-bottom: 30px;
    }
}

//Does not work, text is supposed to be above the images
.preview {
    float: left;
    margin-right: 20px;

    img{
        height: 100px;
}}

//works now
.ability{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

//This was called 'abilityPreview' but it didn't work, changing the name to this made it somehow work so i'm sorry but it's gonna stay with this name 
#T̷͔̍r̵͒̽ä̷̛͔d̸̛̑g̸͋͝å̵̛̈́r̷̞̆d̴̋͝ë̵͔n̴̠̕{
    width: 300px;
}

//Haven't added functionality to change the descriptions
#abilityDesc{
    clear: both;
}
