@import "./variables";
@import "./functions";

header{
    @include header
}

body{
    @include bgc;
}

#lore{
    width: 45%;
}

//does work
#skinNames{
    
    p{
        float: left;
        position: relative;
        margin-right: 150px;
        margin-top: 5px;
        margin-bottom: 30px;
    }
}

//jag är så fucking lost varför kan det inte bara vara åt vänster under texten
.preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img{
        flex: 0 400;
        height: 100px;
        margin-bottom: 5px;
}}

.ability{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 20px;
}
